@import "tailwindcss";

:root {
  --dark: #3B434E;
  --primary: #7653FC;
  --white: #FFFFFF;
  --dark-gray: #787D85;
  --extra-light: #EBEBEB;
  --light: #E2E2E2;
  background: #FC836D;
  background: #C8F8E4;
  background: #1DC37E;
  background: #1DC37E;
  background: #A4A4A4;
  background: #D2D2D2;
  background: #BBBBBB;
  background: #C4C4C4;
  background: #1CC37E;
  background: #DCB44E;
  background: #F5F6F8;
  --black: #000000;
  background: #B3C0D9;
  background: #DE0000;
  background: #DFDFDF;
  background: #F9F8FF;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
